{% extends 'layouts/app.html' %}

{% block content %}
<div class="bg-gradient-to-br from-blue-300 to-purple-400 flex justify-center items-center min-h-screen">
    <div class="w-full max-w-md p-6 space-y-4 bg-white rounded-3xl shadow-2xl border border-gray-300">
        <div class="text-xl font-bold text-gray-900 text-center">
            <h2 class="text-2xl font-extrabold text-gray-900">Welcome Onboard!</h2>
            <p class="text-sm text-gray-700">Let’s help you meet up your skills</p>
        </div>

        <form method="POST" action="{% url 'register' %}" class="space-y-2">
            {% csrf_token %}

            <div>
                <label for="{{ form.username.id_for_label }}" class="block text-gray-700 font-semibold mb-1">Username</label>
                <input type="text" name="{{ form.username.name }}" value="{{ form.username.value }}"
                    class="w-full px-2 py-1 bg-gray-200 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-500">
                {% if form.username.errors %}
                <span class="text-red-600 text-xs">{{ form.username.errors }}</span>
                {% endif %}
            </div>

            <div>
                <label for="{{ form.password1.id_for_label }}" class="block text-gray-700 font-semibold mb-1">Password</label>
                <input type="password" name="{{ form.password1.name }}" value="{{ form.password1.value }}"
                    class="w-full px-2 py-1 bg-gray-200 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-500">
                {% if form.password1.errors %}
                <span class="text-red-600 text-xs">{{ form.password1.errors }}</span>
                {% endif %}
            </div>

            <div>
                <label for="{{ form.password2.id_for_label }}" class="block text-gray-700 font-semibold mb-1">Confirm Password</label>
                <input type="password" name="{{ form.password2.name }}" value="{{ form.password2.value }}"
                    class="w-full px-2 py-1 bg-gray-200 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-500">
                {% if form.password2.errors %}
                <span class="text-red-600 text-xs">{{ form.password2.errors }}</span>
                {% endif %}
            </div>

            <button type="submit"
                class="w-auto px-6 py-2 rounded-md bg-gradient-to-r from-pink-500 to-indigo-600 text-white  text-white font-bold text-sm shadow-md hover:opacity-90 transition mt-2 mx-auto block">
                Register
            </button>

            <p class="text-center text-m text-gray-700 mt-2">
                Already have an account? 
                <a href="{% url 'login' %}" class="text-blue-600 font-bold hover:underline">Login</a>
            </p>
        </form>
    </div>
</div>
{% endblock %}
